
h1 {
  font-size: 2rem;
  text-align: center;
}

#alert {
  display: none;
  background-color: lightcoral;
  color: white;
  padding: 10px;
  margin: 10px;
  font-size: 1.5rem;
  text-align: center;
}

.check-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  background-color: orange;
}

.check-btn:hover {
  background-color: darkorange;
}

.main-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.main-grid-item {
  border: 2px solid #000;
  grid-gap: 0px;
}
.nested-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex-container {
  display: flex;
  flex-direction: column;
  size: 100%;
  border: 1px solid #000;
}

.flex-item {
  display: flex;
  flex-basis: 50px;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  flex-basis: 100%;
  height: 100px;

}
select{
 
  font-size: 50px; 
  }

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column: 1 / span 2;
  height: 40vh;
}

.small-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 40vh;
  width: 40vh;
  scale: 0.6;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
}

.selected {
  border: 3px dashed blue;
}

.circle {
  width: 80px; 
  height: 80px; 
  border-radius: 50%;
  background-color: red;
  margin: 20px; 
}

.square {
  width: 50px; 
  height: 50px; 
  background-color: green;
  margin: 20px; 
}

.rect {
  width: 100px; 
  height: 45px; 
  background-color: blue;
  margin: 20px; 
}

.triangle {
  width: 0;
  height: 0;
  border-left: 25px solid transparent; 
  border-right: 25px solid transparent; 
  border-bottom: 50px solid yellow; 
  margin: 20px; 
}