* {
  border: 1px solid #000;
}
h1 {
  font-size: 2rem;
  text-align: center;
}

.check-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  background-color: orange;
}

.check-btn:hover {
  background-color: darkorange;
  
}

.main-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 0px;
}
.nested-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.flex-container {
  display: flex;
  flex-direction: column;
  size: 100%;
  border: 1px solid #000;
}

.flex-item {
  display: flex;
  flex-basis: 50px;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  flex-basis: 100%;

}
select{
  width: 10vh; 
  height: 10vh; 
  font-size: 50px; 
  }

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column: 1 / span 2;
  height: 40vh;
  grid-gap: 0px;
}

.small-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 60vh;
  width: 40vh;
  scale: 0.8;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
}

#shape {
  margin: 10px;
}

.selected {
  border: 3px dashed blue;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: red;
}

.square {
  width: 100px;
  height: 100px;
  background-color: green;
}

.rect {
  width: 10rem;
  height: 5rem;
  background-color: blue;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid yellow;
} 